# [Module 1] 데이터셋 준비

이 워크샵은 기본 커널을 conda_python3를 사용합니다.

## 0. 환경 셋업

필요시 아래의 Pandas 프로파일링 설치 및 boto3 sdk 업그레이드를 실행 합니다.

### Pandas 프로파일링 설치

pandas-profiling 를 설치하기 전에 matplotlib 먼저 설치 합니다. 그렇지 않을 경우에 에러가 발생할 수 있습니다.

In [1]:
# !pip install matplotlib

In [2]:
# !pip install pandas-profiling==2.11.0

### boto3 업그레이드

In [3]:
# !pip install boto3 --upgrade

## 1. 데이터 설명

아래의 Git에서 인공적으로 생성된 데이터 세트를 사용 함.
- 생선데 데이터 세트를 tar 로 압축하여 현재의 git 에 저장 했습니다. 이를 압축해제 해서 사용합니다.

* Retail Demo Store
    * https://github.com/aws-samples/retail-demo-store

In [4]:
import tarfile

tf = tarfile.open("../data/RetailDemoDataSet.tar")
tf.extractall("../data")

## 2. Items 데이터 탐색

In [5]:
import pandas as pd

items = pd.read_csv('../data/items.csv')
items.head(3)

,id,url,sk,name,category,style,description,aliases,price,image,gender_affinity,current_stock,featured
0,e1669081-8ffc-4dec-97a6-e9176d7f6651,http://d32da96qlo1y4g.cloudfront.net/#/product...,NaN,Sans Pareil Scarf,apparel,scarf,Sans pareil scarf for women,NaN,124.99,http://d32da96qlo1y4g.cloudfront.net/images/ap...,F,12,NaN
1,cfafd627-7d6b-43a5-be05-4c7937be417d,http://d32da96qlo1y4g.cloudfront.net/#/product...,NaN,Chef Knife,housewares,kitchen,A must-have for your kitchen,NaN,57.99,http://d32da96qlo1y4g.cloudfront.net/images/ho...,NaN,9,NaN
2,6e6ad102-7510-4a02-b8ce-5a0cd6f431d1,http://d32da96qlo1y4g.cloudfront.net/#/product...,NaN,Gainsboro Jacket,apparel,jacket,This gainsboro jacket for women is perfect for...,NaN,133.99,http://d32da96qlo1y4g.cloudfront.net/images/ap...,F,13,NaN

## 3. Users 데이터 탐색

In [6]:
import pandas as pd

users = pd.read_csv('../data/users.csv')
users.head(3)

,id,username,email,first_name,last_name,addresses,age,gender,persona,discount_persona,selectable_user
0,1,user1,mark.johnson@example.com,Mark,Johnson,"[{'first_name': 'Mark', 'last_name': 'Johnson'...",31,M,furniture_homedecor_housewares,lower_priced_products,True
1,2,user2,kristen.calderon@example.com,Kristen,Calderon,"[{'first_name': 'Kristen', 'last_name': 'Calde...",58,F,tools_housewares_apparel,discount_indifferent,True
2,3,user3,joseph.maddox@example.com,Joseph,Maddox,"[{'first_name': 'Joseph', 'last_name': 'Maddox...",43,M,floral_beauty_jewelry,lower_priced_products,True

## 4. Interactions 데이터 탐색

In [7]:
its = pd.read_csv('../data/interactions.csv')
its

,ITEM_ID,USER_ID,EVENT_TYPE,TIMESTAMP,DISCOUNT
0,26bb732f-9159-432f-91ef-bad14fedd298,3156,ProductViewed,1591803788,No
1,26bb732f-9159-432f-91ef-bad14fedd298,3156,ProductViewed,1591803788,No
2,dc073623-4b95-47d9-93cb-0171c20baa04,332,ProductViewed,1591803812,Yes
3,dc073623-4b95-47d9-93cb-0171c20baa04,332,ProductViewed,1591803812,Yes
4,31efcfea-47d6-43f3-97f7-2704a5397e22,3981,ProductViewed,1591803830,Yes
...,...,...,...,...,...
674999,9bc87696-e9bd-4241-86b0-234e054a607b,5165,ProductViewed,1598204678,Yes
675000,9bc87696-e9bd-4241-86b0-234e054a607b,5165,ProductAdded,1598204681,Yes
675001,9bc87696-e9bd-4241-86b0-234e054a607b,5165,CartViewed,1598204686,Yes
675002,9bc87696-e9bd-4241-86b0-234e054a607b,5165,CheckoutStarted,1598204686,Yes
675003,9bc87696-e9bd-4241-86b0-234e054a607b,5165,OrderCompleted,1598204689,Yes

## 5. 변수 저장

다음 노트북에서 활용할 변수를 저장 합니다.

In [8]:
%store its
%store users
%store items

Stored 'its' (DataFrame)
Stored 'users' (DataFrame)
Stored 'items' (DataFrame)